.magic {
        border: 1px solid black;
        box-shadow: 10px 10px 10px;
        background-color: #EFEFFF;
    }
.or {
    margin-top: -4%;
    margin-left: 4%;
}
.tick-left {
    margin-left: 5%;
}

.tick-right {
    margin-left: -5%;
}

.little-up {
    margin-top: -4%;
}

.links {
    font-size: 14px;
}

.label-over-text {
    display: grid;
}
input[type=checkbox] {
    transform: scale(1.2);
}
img {
    display: block;
    margin: 0 auto;
}
.center-text {
    text-align: center;
}
.img-carts {
    box-shadow: 5px 2px 12px 0px;
    margin-left: 1%;
}
#id_notification_mail {
    float: right;
}
#id_notification_sms {
    float: right;
}
.notification input[type=text] {
    width: 18em!important;
}

.notification_email input[type=email] {
    width: 18em!important;
}

.gps_schedule label{
    margin-right: 0.2em;
}
.vhf_schedule label{
    margin-right: 0.2em;
}
.long_num_input {
    width: 100%;
}

.trap input[type] {
    float: right !important;
}

.trap select {
    float: right !important;
}