{% load static %}
<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:10%;">
    <div class="col-md-5 col-lg-5 img-carts">
        <img src="{% static 'pics/vertex_survey_round.png' %}" style="max-width:50%;">
        <h4 class="center-text">round shape</h4>
    </div>
    <div class="col-md-5 col-lg-5 img-carts">
        <img src="{% static 'pics/vertex_survey_drop.png' %}" style="max-width:50%;">
        <h4 class="center-text">drop shape </h4>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:2%;">
    <div class="col-md-5 col-lg-5 img-carts">
        <img src="{% static 'pics/Belt_Edge_round.png' %}" style="max-width:100%; margin-top: 7%;">
        <h4 class="center-text">round edges</h4>
    </div>
    <div class="col-md-5 col-lg-5 img-carts">
        <img src="{% static 'pics/Belt_Edge_smooth.png' %}" style="max-width:80%;">
        <h4 class="center-text">smooth edges</h4>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:2%; padding-right: 0.5%;">
    <div class="col-md-10 col-lg-10 img-carts">
        <img src="{% static 'pics/survey_collar_colors2.png' %}" style="width: 70%;">
        <h4 class="center-text">belt colors</h4>
    </div>
    <!--<div class="col-md-5 col-lg-5 img-carts">-->
        <!--<img src="{% static 'Belt_Edge_smooth.png' %}" style="max-width:80%;">-->
        <!--<h4 class="center-text">smooth edges</h4>-->
    <!--</div>-->
</div>